<!-- <a class="btn btn-primary" style="float:right;">Add New Coverage</a>  -->

<!-- <app-vehicle></app-vehicle> -->
<!-- <app-coverages></app-coverages> -->
<!-- <app-myinsurance></app-myinsurance> -->
<!-- <app-myautopolicy></app-myautopolicy>
<app-myhomepolicy></app-myhomepolicy> -->

<!-- <a routerLink="/myinsurance" class="btn btn-success">My Policies</a> -->
<!-- <a routerLink="/vehicle" class="btn btn-primary">Vehicle Screen Click Here</a> -->
<!-- <a class="btn btn-primary" style="float:right;">Add New Coverage</a>  -->

<!-- main app container -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  
    <ng-wizard-step [title]="'Vehicles'" [description]="'Enter Vehicle Deatils'"
      [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
      <!-- <span>Step 1 content</span> -->
       <app-vehicle></app-vehicle> 
        
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Driver'" [description]="'Enter Driver Details'" [state]="">
      <!-- <span>Step 2 content</span> -->
      <span><app-driver></app-driver> </span>
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Coverages'" [description]="'Select Coverages'"
      [canEnter]="isValidFunctionReturnsObservable.bind(this)" [canExit]="isValidFunctionReturnsBoolean.bind(this)">
      <!-- <span>Step 3 content</span> -->
      <app-coverages></app-coverages>
    </ng-wizard-step>
   
  <ng-wizard-step [title]="'Quote'" [description]="'Quote Details'">
      <!-- <span>Step 4 content</span> -->
      <app-premium></app-premium>
    </ng-wizard-step>
   
     <!-- <ng-wizard-step [title]="'Step 5'" [description]="'Step 5 description'" [state]="">
      <app-myinsurance></app-myinsurance>
    </ng-wizard-step> -->
    <!--
    
    <ng-wizard-step [title]="'Step 6'" [description]="'Step 6 description'" [state]="stepStates.error">
      <span>Step 6 content</span>
    </ng-wizard-step>
    
    <ng-wizard-step [title]="'Step 7'" [description]="'Step 7 description'">
      <span>Step 7 content</span>
    </ng-wizard-step> -->
  </ng-wizard>