<div class="container">
    <div [hidden]="submitted">
      <h1>Start a Quote here</h1>
      <h4>Car Details</h4>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group">
          <label for="year">Vehicle Year</label>
                 <select class="form-control" id="year"
                  
                  [(ngModel)]="model.year" name="year"
                  #year="ngModel">
            <option *ngFor="let yr of years" [value]="yr">{{yr}}</option>
          </select>    
        
        </div>
  
        <div class="form-group">
          <label for="alterEgo">Vehicle Make</label>
          <select class="form-control" id="make"
                  
          [(ngModel)]="model.make" name="make"
          #make="ngModel">
    <option *ngFor="let mak of makes" [value]="mak">{{mak}}</option>
  </select>
        </div>
  
        <div class="form-group">
          <label for="vmodel">Vehicle Model</label>
          <select class="form-control" id="vmodel"
                  
                  [(ngModel)]="model.vmodel" name="vmodel"
                  #vmodel="ngModel">
            <option *ngFor="let mod of models" [value]="mod">{{mod}}</option>
          </select>
  
        </div>

        <div class="form-group">
          <label for="km"> Annual Kilometers Driven</label>
          <input id="km" name="km" class="form-control" placeholder="Enter Km Driver"
                required 
                [(ngModel)]="model1.km" #km="ngModel" >

          <div *ngIf="km.invalid && (km.dirty || km.touched)"
              class="alert alert-danger">

            <div *ngIf="km.errors.required">
              Km is required.
            </div>
           
            </div>
           

          </div>
        
        
         
        <div>
  
        <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Next</button> -->
        <!-- <a routerLink="/driver" class="btn btn-success">Next</a> -->
       
    </div>

  

    
        
        