@import '~@angular/material/prebuilt-themes/indigo-pink.css';


// @import '~ng-wizard/themes/ng_wizard.min.css';
// @import '~bootstrap/dist/css/bootstrap.min.css';
 
// /* Optional */
// /* If a theme other than default is used, the css file for that theme is required. */
// @import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
// @import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
// @import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}