
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><b>Coverages</b></h1>
                    <a class="btn btn-primary" style="float:right;">Add New Coverage</a>   
            </div>

           
                
                <div class="col-lg-6">
                    
                  
                      
                     
                       

                    <div class="form-group">
                        
                        <label for="ctyp">Collision (Limit)</label>
                    
                     <!-- <select id="ctyp" name="ctyp" class="form-control"
                
                        [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                         <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                         </select> -->

                         <p>
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                             <mat-button-toggle value="bold">500,000</mat-button-toggle>
                             <mat-button-toggle value="italic">1,000,000</mat-button-toggle>
                             <mat-button-toggle value="underline">2,000,000</mat-button-toggle>
                           </mat-button-toggle-group>
                         </p>
                    </div>

                    <div class="form-group">
                        
                        <label for="ctyp">Comprehensive (Limit)</label>
                    
                     <!-- <select id="ctyp" name="ctyp" class="form-control"
                
                        [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                         <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                         </select> -->

                         <p>
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                             <mat-button-toggle value="bold">500,000</mat-button-toggle>
                             <mat-button-toggle value="italic">1,000,000</mat-button-toggle>
                             <mat-button-toggle value="underline">2,000,000</mat-button-toggle>
                           </mat-button-toggle-group>
                         </p>
                    </div>
                   
                   
                    <!-- <div class="form-group">
                        <label for="limit">Limit</label>
                        <select id="limit" name="Limit" class="form-control"
                              
                              [(ngModel)]="model.limit" #limit="ngModel" >
                              <option *ngFor="let lim of limis" [value]="lim">{{lim}}</option>
                        </select>
                    </div> 
                     <div class="form-group">
                        <label for="ded"> Deductible</label>
                        <select id="ded" name="ded" class="form-control"
                              
                              [(ngModel)]="model.ded" #ded="ngModel" >
                              <option *ngFor="let de of deds" [value]="de">{{de}}</option>
                        </select>
                    </div> -->

                    <div class="form-group">
                        
                        <label for="ctyp">Liability (Limit)</label>
                    
                     <!-- <select id="ctyp" name="ctyp" class="form-control"
                
                        [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                         <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                         </select> -->
                         <p>

                         <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold">500,000</mat-button-toggle>
                            <mat-button-toggle value="italic">1,000,000</mat-button-toggle>
                            <mat-button-toggle value="underline">2,000,000</mat-button-toggle>
                           </mat-button-toggle-group>
                         </p>
                    </div>

                    <div class="form-group">
                        
                        <label for="ctyp">Liability to non-owned automobiles</label>
                    
                     <!-- <select id="ctyp" name="ctyp" class="form-control"
                
                        [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                         <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                         </select> -->
                         <p>

                         <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                           <mat-button-toggle value="bold">No coverage</mat-button-toggle>
                            <mat-button-toggle value="bold">500,000</mat-button-toggle>
                            <mat-button-toggle value="italic">1,000,000</mat-button-toggle>
                            <mat-button-toggle value="underline">2,000,000</mat-button-toggle>
                           </mat-button-toggle-group>
                         </p>
                    </div>

                    <div class="form-group">
                        
                        <label for="ctyp">Loss of Use</label>
                    
                     <!-- <select id="ctyp" name="ctyp" class="form-control"
                
                        [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                         <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                         </select> -->
                         <p>

                         <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold">No coverage</mat-button-toggle>
                            <mat-button-toggle value="bold">500,000</mat-button-toggle>
                            <mat-button-toggle value="italic">1,000,000</mat-button-toggle>
                            <mat-button-toggle value="underline">2,000,000</mat-button-toggle>
                           </mat-button-toggle-group>
                         </p>
                    </div>


                    
                </div>
                
            <div class="col-lg-6">

                <div class="form-group">
                        
                    <label for="ctyp">Collision (Deductible)</label>
                
                 <!-- <select id="ctyp" name="ctyp" class="form-control"
            
                    [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                     <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                     </select> -->

                     <p>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                         <mat-button-toggle value="bold">500</mat-button-toggle>
                         <mat-button-toggle value="italic">1,000</mat-button-toggle>
                         <mat-button-toggle value="underline">2,000</mat-button-toggle>
                       </mat-button-toggle-group>
                     </p>
                </div>
                <div class="form-group">
                        
                    <label for="ctyp">Liability (Deductible)</label>
                
                 <!-- <select id="ctyp" name="ctyp" class="form-control"
            
                    [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                     <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                     </select> -->

                     <p>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                         <mat-button-toggle value="bold">500</mat-button-toggle>
                         <mat-button-toggle value="italic">1,000</mat-button-toggle>
                         <mat-button-toggle value="underline">2,000</mat-button-toggle>
                       </mat-button-toggle-group>
                     </p>
                </div>

                <div class="form-group">
                        
                    <label for="ctyp">Liability (Deductible)</label>
                
                 <!-- <select id="ctyp" name="ctyp" class="form-control"
            
                    [(ngModel)]="model.ctyp" #ctyp="ngModel" >
                     <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                     </select> -->

                     <p>
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                         <mat-button-toggle value="bold">500</mat-button-toggle>
                         <mat-button-toggle value="italic">1,000</mat-button-toggle>
                         <mat-button-toggle value="underline">2,000</mat-button-toggle>
                       </mat-button-toggle-group>
                     </p>
                </div>
                <!-- <div class="form-group">
                    <label for="ctyp"> Select Coverage Type</label>
                 <select id="ctyp" name="ctyp" class="form-control"
            
                    [(ngModel)]="model1.ctyp" #ctyp="ngModel" >
                     <option *ngFor="let ty of ctyps" [value]="ty">{{ty}}</option>
                     </select>
                </div>
                <div class="form-group">
                    <label for="limit">Limit</label>
                    <select id="limit" name="Limit" class="form-control"
                          
                          [(ngModel)]="model1.limit" #limit="ngModel" >
                          <option *ngFor="let lim of limis" [value]="lim">{{lim}}</option>
                    </select>
                </div> 
                 <div class="form-group">
                    <label for="ded"> Deductible</label>
                    <select id="ded" name="ded" class="form-control"
                          
                          [(ngModel)]="model1.ded" #ded="ngModel" >
                          <option *ngFor="let de of deds" [value]="de">{{de}}</option>
                    </select>
                </div> -->
                    
                </div> 
            </div>

           

            
        </div>

        <!-- <a routerLink="/premium" class="btn btn-success">Get Premium</a> -->

       
    