<div>
    <!-- <section>
       <div class="example-label">Icon</div> -->
        <!-- <div class="example-button-row">
          <div class="example-flex-container">
            -->
            <!-- <button style="float:right;" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon> attach_money</mat-icon>
            </button>
            
            <button style="float:left;" 
            mat-icon-button color="primary" aria-label="Example icon button with a home icon"
                 matTooltip="Get Quote"
                 aria-label="Button that displays a tooltip when focused or hovered over">
                <mat-icon> attach_money</mat-icon>
        
             Quote
            </button>
           
          </div>
        </div>
        <br>  -->
      <!-- </section> --> 
<mat-card>  <h2 class="textcolorblue">My Policies </h2>
   
      
   
<!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        My policies 
      </mat-panel-title> -->
      
    <!-- </mat-expansion-panel-header> -->
    <!-- <mat-panel-description>
        Auto 
      </mat-panel-description> -->
    <!-- <p>This is the primary content of the panel.</p> -->

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="textcolorblue">
            <mat-icon aria-hidden="false" aria-label="directions_car" >directions_car</mat-icon> &nbsp; My Auto policies 
          </mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="directions_car" >directions_car</mat-icon>
          
        </mat-expansion-panel-header>
        <!-- <mat-panel-description>
            Auto 
          </mat-panel-description> -->
         <!-- <p>Policy Number             Policy Term</p> 
         <p>12345                     Jan 18 2020 - Jan 17 2021</p>  -->

         <!-- <section>
            <div ></div>
            <div class="example-button-row">
              <button mat-flat-button>Basic</button>
                          </div>
          </section> -->
         <mat-list>
            <mat-list-item><div class="example-button-row">
                <button mat-flat-button><b>Policy Number </b> - 12345    MAZDA CX3</button>
                            </div></mat-list-item>
                            <mat-divider></mat-divider>
            
                            <mat-list-item><div class="example-button-row">
                                <button mat-flat-button><b>Policy Number </b>- 22222    HONDA RES</button>
                                            </div></mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item><div class="example-button-row">
                                                <button mat-flat-button><b>Policy Number </b> - 4567    BENZ 2345</button>
                                                            </div></mat-list-item>
          </mat-list>

        <!-- <mat-action-row>
            <button mat-button color="primary" >Next</button>
          </mat-action-row> -->
      
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="textcolorblue">
            <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon> &nbsp;&nbsp;My Home policies 
          </mat-panel-title>
          <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon> 
          
          
        </mat-expansion-panel-header>


        <mat-list>
            <!-- <mat-list-item>Policy Number - 12345    818 MAIN ST</mat-list-item> -->
            <mat-list-item><div class="example-button-row">
                <button mat-flat-button  ><b>Policy Number </b>- 4567    876 MAIn ST ONTARIO</button>
                            </div></mat-list-item>
            <!-- <mat-divider></mat-divider>
            <mat-list-item>Policy Number - 45678    HONDA CRUIZE</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Policy Number - 456789    BENZE 345</mat-list-item> -->
          </mat-list>
        <!-- <mat-panel-description>
            Auto 
          </mat-panel-description> -->
        <!-- <p>This is the primary content of the panel.</p> -->
        <!-- <mat-action-row>
            <button mat-button color="primary" >Next</button>
          </mat-action-row> -->
      
      </mat-expansion-panel>
    
  
  <!-- </mat-expansion-panel> -->
</mat-card>
</div>
